<mat-card-actions>
  <div fxLayout="row"
       fxLayoutAlign="end">
    <button [disabled]="isDisabled && !cancelAlwaysEnabled"
            (click)="cancel()"
            mat-stroked-button
            color="primary"
            class="radious-rounded large-button cancel-btn">
      <div class="container-text-spin">
        {{textButtonCancel}}
        <div class="spinner"
             *ngIf="isLoadingBtnCancel">
          <mat-spinner [diameter]='20'></mat-spinner>
        </div>
      </div>
    </button>

    <button [disabled]="isDisabled"
            (click)="create()"
            type="submit"
            mat-raised-button
            color="primary"
            class="radious-rounded large-button">
      <div class="container-text-spin">
        {{textButtonOk}}
        <div class="spinner"
             *ngIf="isLoadingBtnCreate">
          <mat-spinner [diameter]='20'></mat-spinner>
        </div>
      </div>

    </button>
  </div>
</mat-card-actions>
