.additional-data-title {
  border-left: 3px solid #7055fc;
  padding: 8px;
  color: #8798AD;
  font-weight: 600;
  font-size: 14px;
}

.additional-data-body {
  margin: 15px;
}

.additional-data-body-label {
  color: #b0bac9;
  font-size: 14px;
}

.additional-data-body-value {
  margin: 8px 0;
}

