.request-form-label {
  border-left: 3px solid #7055fc;
  padding: 8px;
  color: #8798AD;
  font-weight: 600;
  font-size: 14px;
}

.no-expire-label {
  padding: 8px;
  color: #8798AD;
  font-weight: 600;
  font-size: 14px;
}

.datePicker {
  max-width: 160px;;
}
