<div class="credential">
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <div>
            <img src="assets/to_do_list.svg">
            <span class="text-presentation-subtitle"> {{'credential.attribute' | translate}} </span>
          </div>
        </mat-expansion-panel-header>
        <div class="contenido">
          <app-attribute-list [attributes]="getAttributes(credential.credentialSubject)"></app-attribute-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
